.form{
    background-color: var(--secondary-color);
    margin-top: 10rem;
    padding: 1rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 20rem;
    border: 1px solid var(--tertiary-color);
}

.form input {
    width: 18rem;
    margin: .25rem;
    border-radius: .25rem;
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    height: 1.5rem;
    color: rgb(197, 197, 197);
}

.form input[type='submit']:hover {
    background-color: var(--tertiary-color);
}

.form h1 {
    margin: 0;
}

.form span {
    color: red;
    display: block;
}

.form a {
    display: block;
}


