.logout {
    background-color: var(--secondary-color);
    height: 2rem;
    width: 5rem;
    border: none;
    border-radius: .25rem;
    font: inherit;
    margin-bottom: 1rem;
    color: var(--font-color); 
}

.logout:hover {
    background-color: var(--tertiary-color);
}