@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

html, body {
  font-family: "Roboto Mono", monospace;
  color: var(--font-color);
  height: 100%;
  margin: 0;
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  height: 3rem;
  align-items: center;
  font-size: 1.5rem;
}

header i{
  font-size: 1rem;
}

main {
  flex: 1;
  margin: 0;
}

footer {
  width: 100%;
  text-align: center;
  height: 10rem;
  padding-top: 1rem;
  background-color: rgb(0, 0, 0);
}

.icon {
  color: var(--tertiary-color);
}

.icon:hover {
  color: white;
}

a {
  color:var(--link-color);
}

a:hover {
  color:var(--link-color-hover);
}

h1 {
    font-size: 1.5rem;
    font-weight: 100;
}




